:root {
    --darkcyan: hsl(158, 36%, 37%);
    --darkercyan: hsl(158, 36%, 25%);
    --cream: hsl(30, 38%, 92%);
    --vdblue: hsl(212, 21%, 14%);
    --dgblue: hsl(228, 12%, 48%);
    --white: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--cream);
    font-family: Montserrat;
    font-size: 14px;
}

main {
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--white);
    width: 600px;
    height: 450px;
    overflow: hidden;
    border-radius: 12px;
}

/* .image, .detail {
    width: 300px;
} */

.image img {
    width: 300px;
}

.detail {
    padding: 20px 30px;
}

.tag {
    font-weight: lighter;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.title, .price {
    font-family: Fraunces;
}

.title {
    line-height: 1em;
    font-size: 32px;
    color: var(--vdblue);
}
.price-wrap {
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}

.price {
    color: var(--darkcyan);
    font-size: 30px;
}

.price-old {
    margin-top: 4px;
    margin-left: 20px;
    text-decoration: line-through;
}

.description , .tag, .price-old {
    color: var(--dgblue);
}

.description {
    line-height: 22px;
}

button {
    font-family: Montserrat;
    font-weight: 500;
    width: 100%;
    padding: 14px;
    color: var(--white);
    border-radius: 8px;
    background-color: var(--darkcyan);
    outline: none;
    border: none;
    /* word-spacing: 4px; */
    transition: all 0.5s ease;
    align-items: center;
    justify-content: center;
}

button img {
    margin-right: 10px;
}

button:hover {
    cursor: pointer;
    background-color: var(--darkercyan);
}

@media (max-width: 570px) {
    body {
        padding: 20px ;
    }
    main {
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .image {
        flex:1;
        overflow: hidden;
        justify-content: center;
        align-items: center;
        overflow: hidden;
        /* max-height: 30vh; */
    }
    .image img{
        width: 100%;
        max-height: 40vh; 
       object-fit: cover;  
    }

    .tag {
        margin-top: 0;
        
    }

    .title {
        font-size: 30px;
        margin-top: 0;
    }
    .description {
        font-size: 14px;
    }
    .detail {
        padding: 20px 20px;
    }


}